/*-- scss:defaults --*/

$toc-active-border: #60be65;
$navbar-bg: #FFFFFF;
$link-color: #60be65;
$link-hover-color: #93df05;
$link-hover-decoration: none;

/* Index page grid */

.g-col-md-6, .g-col-12 {
    background-color: #EEEEEE;
    border-radius: 5px;
    border-width: 1px;
    border-color: #60be65;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

/* Navbar Link Colors */

.navbar-nav .nav-link:hover {
    color: #93df05 !important;
}

.navbar-nav .nav-link:focus {
    color: #93df05 !important;
}

.navbar-nav .nav-link.active {
    color: #60be65 !important;
}

.navbar-title:hover {
    color: #93df05 !important;
}

.navbar-title:focus {
    color: #93df05 !important;
}

.navbar-title.active {
    color: #60be65 !important;
}

.navbar-brand:hover {
    color: #93df05 !important;
}

.navbar-brand:focus {
    color: #93df05 !important;
}

.navbar-brand.active {
    color: #60be65 !important;
}

/* TOC */

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #60be65 !important;
    font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover {
    color: #93df05 !important;
}

.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    color: #60be65 !important;
    font-weight: bold;
}