table.oldschool {
  border-collapse: collapse;
  border-spacing: 0;}

table.oldschool td.icon {
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  padding: 10px 5px;}

table.oldschool td.name {
  vertical-align: bottom;
  font-family: "Rubik", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-align: left;}
      
table.oldschool td.menu {
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;}
  
table.oldschool td.body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
  word-break: normal;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  padding: 10px 5px;
  vertical-align: top;}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;}

table.oldschool td.foot {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: left;
  font-color: #DDDDDD;
  word-break: normal;
  border-width: 0px;
  padding: 10px 5px;
  vertical-align: top;}
      
a:link, a:visited, a:active {
  color: #419545;
  text-decoration: none;} 

a:hover {
  color: #93df05;
  text-decoration: none;}

#rhwo-gif {
  width: 50%;  
  height: auto;}

#thumb {
  width: 50%;  
  height: auto;}
