/* css styles */

/* Buttons */

.btn-primary {
    background-color: #60be65;
    border-radius: 5px;
    border-color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #93df05;
    border-color: #FFFFFF;
}
