/* css styles */
  
a:hover {
    color: #93df05;
    text-decoration: none;
}

.sidebar-item-text.sidebar-link.active { 
    color: #60be65;
    font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #60be65 !important;
    font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover {
    color: #93df05 !important;
}


.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    color: #60be65 !important;
    font-weight: bold;
}
