/* css styles */

/* Buttons */

.btn-primary {
    background-color: #259ac8;
    border-radius: 5px;
    border-color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #58c3ed;
    border-color: #FFFFFF;
}
